.radio {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  gap: 10px;
  align-items: center;
}

/* скрытый input */
.input {
  position: absolute;
  opacity: 0;
}

/* текст */
.labelSpan {
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: var(--color-light-100);
}

/* внешний круг */
.control {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  border: 2px solid var(--color-light-100);
  border-radius: 50%;
}

/* БОЛЬШОЙ КРУГ (hover / focus / active) */
.control::before {
  content: '';

  position: absolute;
  z-index: -1;

  width: 36px;
  height: 36px;
  border-radius: 50%;

  background-color: transparent;

  transition: background-color 0.2s ease;
}

.control:hover::before {
  background-color: var(--color-dark-300);
}

.input:focus-visible + .control::before {
  background-color: var(--color-dark-500);
}

.radio:active .control::before {
  background-color: var(--color-dark-100);
}

/*  внутренний checked круг */
.control::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: transparent;

  transform: translate(-50%, -50%);
}

/* checked */
.input:checked + .control::after {
  background-color: var(--color-light-100);
}

.input:disabled + .control {
  border-color: var(--color-dark-100);
}

.input:disabled + .control::before {
  background-color: transparent;
}

.input:disabled:checked + .control::after {
  background-color: var(--color-dark-100);
}

.input:disabled ~ .labelSpan {
  color: var(--color-light-900);
}

.input:disabled ~ .labelSpan,
.input:disabled + .control,
.input:disabled ~ .control {
  cursor: not-allowed;
}

.radio:has(.input:disabled) {
  cursor: not-allowed;
}
