.radio {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.radioContainer {
  width: 122px;
  height: 36px;
  padding: 6px;
}

/* скрытый input */
.input {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}

/* текст */
.labelSpan {
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: var(--color-light-100);
}

/* внешний круг */
.control {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  border: 2px solid var(--color-light-100);
  border-radius: 50%;
}

/* БОЛЬШОЙ КРУГ (hover / focus / active) */
.control::before {
  content: '';

  position: absolute;
  z-index: -1;

  width: 36px;
  height: 36px;
  border-radius: 50%;

  background-color: transparent;

  transition: background-color 0.2s ease;
}

.radio:hover .control::before {
  background-color: var(--color-dark-300);
}

.radio:focus-within .control::before {
  background-color: var(--color-dark-500);
}

.radio:active .control::before {
  background-color: var(--color-dark-100);
}

/*  внутренний checked круг */
.control::after {
  content: '';

  width: 14px;
  height: 14px;
  border-radius: 50%;

  background-color: transparent;
}

/* checked */
.input:checked + .control::after {
  background-color: var(--color-light-100);
}

.input:disabled + .control {
  border-color: var(--color-dark-100);
  opacity: 0.5;
}

.input:disabled + .control::before {
  background-color: transparent;
}

.input:disabled:checked + .control::after {
  background-color: var(--color-dark-100);
}

.input:disabled ~ .labelSpan {
  color: var(--color-light-900);
}

.input:disabled ~ .labelSpan,
.input:disabled + .control,
.input:disabled ~ .control {
  cursor: not-allowed;
}

.radio:has(.input:disabled) {
  cursor: not-allowed;
}
