.inputWrapper {
  position: relative;
  width: 279px;
}

.input {
  all: unset;

  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  font-size: 14px;
  line-height: 150%;
  color: var(--color-light-100);

  background-color: var(--color-dark-500);
}

/* Email input with eye icon */
.input[type='email'].withEye {
  padding-right: 40px; /* Space for eye icon */
}

/* Email input without eye icon - нормальный padding */
.input[type='email']:not(.withEye) {
  padding-right: 12px;
}

.input[type='search'] {
  padding-left: 40px;
}

.default {
  border-color: var(--color-dark-300);
  background-color: var(--color-dark-500);
}

.default::placeholder {
  color: var(--color-light-900);
}

.input:active:not(:disabled, .errorState) {
  border-color: var(--color-accent-700);
  background-color: var(--color-dark-700);
}

.errorState {
  border-color: var(--color-danger-500);
  background-color: var(--color-dark-500);
}

.errorState:active:not(:disabled) {
  border-color: var(--color-danger-700);
}

.input:not(:disabled, .errorState):hover {
  border-color: var(--color-light-900);
  background-color: var(--color-dark-700);
}

.errorState:hover:not(:disabled) {
  border-color: var(--color-danger-700);
  background-color: var(--color-dark-500);
}

.input:focus-visible:not(:disabled, .errorState) {
  border-color: var(--color-accent-500);
  outline: 2px solid var(--color-accent-500);
}

.errorState:focus-visible:not(:disabled) {
  border-color: var(--color-danger-700);
  outline: 2px solid var(--color-danger-700);
}

.disabled {
  cursor: not-allowed;
  border-color: var(--color-dark-300);
  color: var(--color-light-900);
  background-color: var(--color-dark-700);
}

.disabled::placeholder {
  color: var(--color-light-900);
}

.eyeIcon,
.searchIcon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.eyeIcon {
  pointer-events: auto;
  cursor: pointer;
  right: 12px;
  color: var(--color-light-900);
}

.eyeIcon:hover {
  color: var(--color-light-100);
}

.searchIcon {
  left: 12px;
  color: var(--color-light-900);
}

.errorMessage {
  position: absolute;
  top: 100%;
  left: 0;

  margin-top: 4px;

  font-size: 12px;
  line-height: 140%;
  color: var(--color-danger-500);
}
