.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: var(--color-light-900);
}

.label.disabled {
  color: var(--color-dark-100);
}

.inputContainer {
  position: relative;

  display: flex;
  align-items: center;

  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  background-color: transparent;
}

.input {
  all: unset;

  box-sizing: border-box;
  width: 100%;
  padding: 10px 14px;

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-light-900);
}

.inputContainer:has(:focus-visible) .input {
  color: var(--color-light-100);
}

.inputContainer:has(:focus-visible) {
  border-color: var(--color-light-100);
}

.inputContainer.error {
  border-color: var(--color-danger-500);
}

.inputContainer.disabled {
  border: 1px solid var(--color-dark-100);
}

.inputContainer.disabled .input {
  cursor: not-allowed;
  color: var(--color-dark-100);
}

.inputContainer.withStartIcon .input {
  padding-left: 40px;
}

.inputContainer.withEndIcon .input {
  padding-right: 40px;
}

.startIcon,
.endIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startIcon {
  left: 11px;
  color: var(--color-light-900);
}

.inputContainer:focus-within .startIcon {
  color: var(--color-light-100);
}

.inputContainer.disabled .startIcon {
  color: var(--color-dark-100);
}

.endIcon {
  cursor: pointer;

  right: 11px;

  padding: 0;
  border: none;

  color: var(--color-light-100);

  background: none;
}

.endIcon:disabled {
  cursor: not-allowed;
  color: var(--color-dark-100);
}

.inputContainer:focus-within .endIcon {
  color: var(--color-light-100);
}

.errorMessage {
  font-size: 16px;
  font-weight: 400;
  line-height: 171%;
  color: var(--color-danger-500);
}

.required {
  color: var(--color-danger-500);
}
