.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 171%;
  color: var(--color-dark-300);
}

.inputContainer {
  position: relative;

  display: flex;
  align-items: center;

  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  background-color: var(--color-dark-500);

  transition: border-color 0.2s;
}

.input {
  all: unset;

  box-sizing: border-box;
  width: 100%;
  padding: 10px 14px;

  font-size: 14px;
  line-height: 150%;
  color: var(--color-light-900);
}

.input::placeholder {
  color: var(--color-dark-300);
}

.inputContainer:hover {
  border-color: var(--color-dark-100);
}

.inputContainer:focus-within {
  border-color: var(--color-accent-500);
}

.inputContainer.error {
  border-color: var(--color-danger-500);
}

.inputContainer.disabled {
  cursor: not-allowed;
}

.inputContainer.withStartIcon .input {
  padding-left: 40px;
}

.inputContainer.withEndIcon .input {
  padding-right: 45px;
}

.startIcon,
.endIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startIcon {
  left: 12px;
  color: var(--color-dark-300);
}

.inputContainer:focus-within .startIcon {
  color: var(--color-light-900);
}

.endIcon {
  cursor: pointer;

  right: 12px;

  padding: 0;
  border: none;

  color: var(--color-light-900);

  background: none;
}

.endIcon:focus-visible {
  outline: 2px solid var(--color-accent-500);
  outline-offset: 2px;
}

.errorMessage {
  margin-top: 4px;
  font-size: 12px;
  color: var(--color-danger-500);
}
