.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 24px;
  border-radius: 2px;

  font-weight: 600;
  line-height: 150%;

  transition:
    color 120ms ease-out,
    background-color 180ms cubic-bezier(0.2, 0, 0, 1);
}

.button:disabled {
  cursor: not-allowed;
}

.primary {
  color: var(--color-light-100);
  background-color: var(--color-accent-500);
}

.primary:active {
  color: var(--color-light-500);
  background-color: var(--color-accent-700);
}

.primary:focus-visible {
  outline: 2px solid var(--color-accent-700);
}

.primary:disabled {
  color: var(--color-light-900);
  background-color: var(--color-accent-900);
}

.primary:hover:not(:active, :focus-visible, :disabled) {
  background-color: var(--color-accent-100);
}

.secondary {
  color: var(--color-light-100);
  background-color: var(--color-dark-300);
}

.secondary:active {
  color: var(--color-light-500);
  background-color: var(--color-dark-400);
}

.secondary:focus-visible {
  outline: 2px solid var(--color-accent-300);
}

.secondary:disabled {
  color: var(--color-light-900);
  background-color: var(--color-dark-500);
}

.secondary:hover:not(:active, :focus-visible, :disabled) {
  background-color: var(--color-dark-100);
}

.outlined {
  border: 1px solid var(--color-accent-500);
  color: var(--color-accent-500);
  background-color: transparent;
}

.outlined:active {
  border-color: var(--color-accent-700);
  color: var(--color-accent-700);
}

.outlined:focus-visible {
  border: 2px solid var(--color-accent-700);
  color: var(--color-accent-700);
}

.outlined:disabled {
  border-color: var(--color-accent-900);
  color: var(--color-accent-900);
}

.outlined:hover:not(:active, :focus-visible, :disabled) {
  border-color: var(--color-accent-100);
  color: var(--color-accent-100);
}

.text {
  color: var(--color-accent-500);
}

.text:active {
  color: var(--color-accent-700);
}

.text:focus-visible {
  outline: 2px solid var(--color-accent-700);
}

.text:disabled {
  color: var(--color-accent-900);
}

.text:hover:not(:active, :focus-visible, :disabled) {
  color: var(--color-accent-100);
}

.icon {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}
