.button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.button:focus-visible {
  outline: 2px solid lightcoral;
  outline-offset: 2px;
}

.fullWidth {
  width: 100%;
}

.primary {
  color: #fff;
  background-color: #00f;
}

.secondary {
  color: #fff;
  background-color: #f00;
}

.tertiary {
  color: #000;
  background-color: #fff;
}

.icon {
  color: #000;
  background-color: transparent;
}

.link {
  color: #00f;
  background-color: transparent;
}
