.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: var(--color-light-900);
}

.select {
  position: relative;
  width: 100%;
}

.trigger {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: 36px;
  padding: 8px 12px;
  border: 1px solid var(--color-light-900);
  border-radius: 2px;

  font-size: 16px;
  line-height: 150%;
  color: var(--color-light-100);

  background-color: transparent;

  transition:
    color 0.2s,
    background-color 0.2s;
}

.triggerOpen {
  border-color: var(--color-light-100);
  border-radius: 2px 2px 0 0;
  background-color: var(--color-dark-300);
}

.trigger:disabled {
  cursor: not-allowed;
  border-color: var(--color-dark-100);
  color: var(--color-dark-100);
}

.trigger:focus-visible {
  padding: 7px 11px;
  border: 2px solid var(--color-accent-500);
}

.trigger:hover:not(:disabled, .triggerOpen) {
  color: var(--color-light-900);
}

.placeholder {
  color: var(--color-light-900);
}

.selectedContent {
  overflow: hidden;
  display: flex;
  gap: 8px;
  align-items: center;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.optionIcon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
}

.arrow {
  display: inline-flex;
  margin-left: 24px;
  color: var(--color-light-100);
  transition: transform 0.2s;
}

.trigger:disabled .arrow {
  color: var(--color-dark-100);
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  z-index: 1000;
  top: calc(100%);
  left: 0;

  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--color-light-100);
  border-top: none;
  border-radius: 0 0 2px 2px;

  background-color: var(--color-dark-300);
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

/* stylelint-disable selector-pseudo-class-no-unknown */
.dropdown :global(.simplebar-scrollbar::before) {
  background: var(--color-light-900);
}

.option {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  padding: 7px 12px;

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-light-100);
}

.option:hover {
  color: var(--color-accent-500);
  background-color: var(--color-dark-100);
  transition:
    color 120ms ease-out,
    background-color 160ms cubic-bezier(0.2, 0, 0, 1);
}

.option.selected {
  color: var(--color-accent-500);
}

.option:focus-visible {
  background-color: var(--color-dark-100);
  outline: 2px solid var(--color-accent-500);
  outline-offset: -2px;
}
