.alert {
  display: flex;
  justify-content: space-between;

  width: 287px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 2px;

  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  color: white;
}

/* Ошибка */
.error {
  border: 1px solid var(--color-danger-500);
  background-color: var(--color-danger-900);
}

/* Успех */
.success {
  border: 1px solid var(--color-success-500);
  background-color: var(--color-success-900);
}

.closeButton {
  padding-left: 40px;
  border: none;
  background: transparent;
}
