.overlay {
  position: fixed;
  inset: 0;

  background-color: rgb(0 0 0 / 60%);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal {
  background-color: var(--color-dark-300);

  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  width: 420px;
  max-width: calc(100vw - 32px);

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 16px;
  border-bottom: 1px solid var(--color-dark-100);
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: var(--color-light-100);
}

.close {
  background: none;
  border: none;
  padding: 0;

  font-size: 16px;
  line-height: 1;

  cursor: pointer;
  color: var(--color-light-100);
}

.body {
  padding: 16px;
}
