.content {
  z-index: 1000;

  min-width: 161px;
  padding: 8px 0;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  background-color: var(--color-dark-500);
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);

  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.content[data-state='open'] {
  animation-name: slide-down-and-fade;
}

.content[data-state='closed'] {
  animation-name: slide-up-and-fade;
}

.item {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 12px;
  align-items: center;

  box-sizing: border-box;
  padding: 8px 12px;

  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: var(--color-light-100);

  outline: none;
}

.item[data-disabled] {
  cursor: not-allowed;
  color: var(--color-dark-100);
}

.item[data-highlighted]:not([data-disabled]) {
  color: var(--color-accent-500);
  background-color: var(--color-dark-100);
  outline: none;
}

.icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
}

.label {
  flex: 1;
}

@keyframes slide-down-and-fade {
  from {
    transform: translateY(-4px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up-and-fade {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-4px);
    opacity: 0;
  }
}
