.textareaWrapper {
  display: flex;
  flex-direction: column;
  width: 284px;
}

.textareaWrapper label {
  margin-bottom: 4px;
  font-size: 14px;
  color: var(--color-light-900);
}

.textarea {
  resize: none;

  box-sizing: border-box;
  width: 100%;
  height: 84px;
  padding: 12px;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  font-family: var(--font-family, Inter, sans-serif);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-light-900);

  background: var(--color-dark-500);
  outline: none;

  transition:
    border 0.2s,
    color 0.2s;
}

.textarea:hover:not(.disabled) {
  border-color: var(--color-dark-100);
}

.textarea:active:not(.disabled) {
  border-color: var(--color-light-700);
  color: var(--color-light-700);
}

.textarea:focus-visible:not(.disabled) {
  border: 2px solid var(--color-accent-300);
  color: var(--color-light-900);
}

.errorState {
  border: 1px solid var(--color-danger-500);
}

.disabled {
  cursor: not-allowed;
  border: 1px solid var(--color-dark-100);
  color: var(--color-dark-100);
  background: var(--color-dark-100);
}

.errorMessage {
  height: 18px;
  margin-top: 4px;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-danger-500);

  visibility: hidden;
}

.errorMessage.visible {
  visibility: visible;
}
