.tab {
  all: unset;

  cursor: pointer;

  width: 100%;
  padding: 6px 23px;
  border-bottom: 2px solid var(--color-dark-100);
  border-radius: 0;

  color: var(--color-dark-100);
  text-align: center;

  outline: none;

  font-size: 16px;
  font-weight: 600;
  line-height: 150%;

  transition-duration: 0.2s;
  transition-property: background-color, color, border-color;
}

.selected {
  border-bottom-color: var(--color-accent-500);
  color: var(--color-accent-500);
}

.tab:disabled {
  cursor: not-allowed;
  border-bottom-color: var(--color-dark-300);
  color: var(--color-dark-300);
}

.selected:disabled {
  border-bottom-color: var(--color-accent-900);
  color: var(--color-accent-900);
}

.tab:focus-visible {
  border-radius: 2px;
  outline: 2px solid var(--color-accent-700);
}

.tab:active:not(:disabled) {
  background-color: color-mix(in srgb, var(--color-accent-100) 15%, transparent);
}

.tab:hover:not(:active, :focus-visible, :disabled) {
  background-color: color-mix(in srgb, var(--color-accent-900) 15%, transparent);
}

.selected:hover:not(:active, :focus-visible, :disabled) {
  border-bottom-color: var(--color-accent-900);
  color: var(--color-accent-900);
}
