/* stylelint-disable selector-pseudo-class-no-unknown */

/* блок "Show [Select] on page" */

.pageSizeWrapper {
  display: flex;
  gap: 6px;
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: var(--color-light-100);
}

/* ширина селекта под цифры + стрелку */
.pageSizeSelect {
  width: 50px;
}

/* =========================
   TRIGGER (кнопка селекта)
========================= */
.pageSizeSelect button {
  height: 24px;
  padding: 0 0 0 5px;
  border-color: var(--color-dark-300);

  font-size: 14px;
  line-height: 171%;

  background-color: var(--color-dark-500);
}

.pageSizeSelect span {
  margin-left: 0;
}

.pageSizeSelect svg {
  width: 16px;
  height: 16px;
}

/* =========================
   DROPDOWN
========================= */
.pageSizeSelect :global(div[role='listbox']) {
  border-color: var(--color-dark-300);
  background-color: var(--color-dark-500);
}

.pageSizeSelect :global(button:focus-visible) {
  padding: 0 0 0 5px !important;
}

/* =========================
   OPTIONS — БЕЗ СИНЕГО
========================= */
.pageSizeSelect :global([role='option']:hover),
.pageSizeSelect :global([role='option'].pseudo-hover) {
  color: var(--color-light-100);
}

.pageSizeSelect :global([role='option'][aria-selected='true']) {
  color: var(--color-light-100);
}
